{% extends 'base.html' %}

{% load static %}

{% block content %}


<div data-bs-spy data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-offset="0" class="scrollspy-example" tabindex="0">
    <div class="container about text-center">
      <div class="text-1 text-black">
        <h2 class="display-4 about-us">About</h2>
        <div class="container">
          <p>
          Math Space adalah platform belajar online yang ditujukan untuk membantu pelajar mendalami pelajaran matematika.
          </p>
          <p>
          Platform ini dibentuk oleh Mahasiswa Pendidikan Matematika Universitas Sultan Ageng Tirtayasa
          </p>
        </div>
      </div>
    </div>
</div>

{% endblock %}