{% extends 'base.html' %}

{% load static %}

{% block content %}

    <div class="line" data-aos="flip-up">
      <div class="team text-center text-strong">
        <h2>OUR COURSES</h2>
      </div>
    </div>
    <div class="display-4 pro-text text-center">
      <div class="container executive">
        <div class="row">
          <div class="col-lg-4" data-aos="fade-right">
            <div class="card card-team-profile">
              <img src="/static/img/bilbul.jpg" class="card-img-top rounded-circle" alt="..." />
              <div class="card-body card-bd">
                <h5 class="card-title">Bilangan Bulat</h5>
                <h6>SMP Kelas 7</h6>
                <div class="bars-1"></div>
                <ul class="text-start">
                  <li>Bilangan bulat terdiri dari bilangan cacah dan bilangan bulat negatif. Himpunan bilangan bulat dalam matematika dilambangkan dengan Z.</li>
                </ul>
                <div class="sosial-media">
                  <a href=" https://youtu.be/G5t6-bH02zg" class="text-white" target="_blank" rel="noreferrer noopener"><i class="fa-brands fa-1x fa-youtube"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4" data-aos="fade-left">
            <div class="card card-team-profile">
              <img src="/static/img/pecahan.png" class="card-img-top rounded-circle" alt="..." />
              <div class="card-body card-bd">
                <h5 class="card-title">Pecahan</h5>
                <h6>SMP Kelas 7</h6>
                <div class="bars-1"></div>
                <ul class="text-start">
                  <li>Pengertian dari bilangan pecahan adalah bagian dari satu keseluruhan dari suatu kuantitas tertentu.</li>
                </ul>
                <div class="sosial-media">
                  <a href="https://youtu.be/hiprF2LY1Og" class="text-white" target="_blank" rel="noreferrer noopener"><i class="fa-brands fa-1x fa-youtube"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4" data-aos="fade-left">
            <div class="card card-team-profile">
              <img src="/static/img/statistika.jpg" class="card-img-top rounded-circle" alt="..." />
              <div class="card-body card-bd">
                <h5 class="card-title">Statistika</h5>
                <h6>SMP Kelas 9</h6>
                <div class="bars-1"></div>
                <ul class="text-start">
                  <li>Statistika adalah sebuah ilmu yang mempelajari bagaimana cara merencanakan, mengumpulkan, menganalisis, lalu menginterpretasikan, dan akhirnya mempresentasikan data.</li>
                </ul>
                <div class="sosial-media">
                  <a href="https://youtu.be/vMbCKm3HSuQ" class="text-white" target="_blank" rel="noreferrer noopener"><i class="fa-brands fa-1x fa-youtube"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  <!-- end courses -->

   <!-- courses -->
    <div class="display-4 pro-text text-center">
      <div class="container executive">
        <div class="row">
          <div class="col-lg-4" data-aos="fade-right">
            <div class="card card-team-profile">
              <img src="/static/img/geometri.jpg" class="card-img-top rounded-circle" alt="..." />
              <div class="card-body card-bd">
                <h5 class="card-title">Geometri</h5>
                <h6>SMA Kelas 10</h6>
                <div class="bars-1"></div>
                <ul class="text-start">
                  <li>Geometri, ilmu ukur, atau ilmu bangun adalah cabang matematika yang bersangkutan dengan pertanyaan bentuk, ukuran, posisi relatif gambar, dan sifat ruang.</li>
                </ul>
                <div class="sosial-media">
                  <a href="https://youtu.be/tl2XtGQJBpE" class="text-white" target="_blank" rel="noreferrer noopener"><i class="fa-brands fa-1x fa-youtube"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4" data-aos="fade-left">
            <div class="card card-team-profile">
              <img src="/static/img/trigonometri.png" class="card-img-top rounded-circle" alt="..." />
              <div class="card-body card-bd">
                <h5 class="card-title">Trigonometri</h5>
                <h6>SMA Kelas 11</h6>
                <div class="bars-1"></div>
                <ul class="text-start">
                  <li>Trigonometri adalah ilmu Matematika yang mempelajari tentang sudut, sisi, dan perbandingan antara sudut dan sisi.</li>
                </ul>
                <div class="sosial-media">
                  <a href="https://youtu.be/8A6pMt553rI" class="text-white" target="_blank" rel="noreferrer noopener"><i class="fa-brands fa-1x fa-youtube"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4" data-aos="fade-left">
            <div class="card card-team-profile">
              <img src="/static/img/matriks.png" class="card-img-top rounded-circle" alt="..." />
              <div class="card-body card-bd">
                <h5 class="card-title">Matriks</h5>
                <h6>SMA Kelas 12</h6>
                <div class="bars-1"></div>
                <ul class="text-start">
                  <li>Matriks adalah kumpulan bilangan, simbol, atau ekspresi yang disusun membentuk persegi panjang berdasarkan baris dan kolom.</li>
                </ul>
                <div class="sosial-media">
                  <a href="https://youtu.be/hlh60xenNHE" class="text-white" target="_blank" rel="noreferrer noopener"><i class="fa-brands fa-1x fa-youtube"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    

{% endblock %}